<!DOCTYPE html>
<html lang="zh-CN" ng-app="ngApp">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="renderer" content="webkit">
		<meta name="author" content="Zhang Wang">
		<meta name="keywords" content="">
		<meta name="description" content="" />
		<title>Index</title>
		<link rel="stylesheet" href="/stylesheets/blog.css"/>
	</head>
	<body class="bg-grey">
		<div id="page">

			<!--header area -->
			<header id="header-area" class="bg-white headroom">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<nav class="navbar mb-0">
								<div class="container-fluid">
									<div class="navbar-header">
										<a class="navbar-brand logo-centent" href="#">一分</a>
										<div id="mobile-button"><hr><hr><hr></div>
									</div>
									<div class="collapse navbar-collapse">
										<ul class="nav navbar-nav navbar-right nav-area">
											<li><a ui-sref="blog">文章</a></li>
											<li><a ui-sref="about">关于我</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</header><!--header area -->

			<!-- main container -->
			<section class="main-style">
				<ui-view>
					<div id="loadingArea">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 text-center loadingContent">
									<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
									<p>Loading...</p>
								</div>
							</div>
						</div>
					</div>
				</ui-view>
			</section><!-- main container -->

			<!-- footer area -->
			<section id="footer-area" class="bg-white">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="row">
								<div class="col-sm-12 text-center">
									<dl>
										<dd>Powered by ZhangWang</dd>
										<dd>苏ICP备15027107号-1</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- footer area -->

		</div>

		<script src="/bower/angular/angular.min.js"></script>
		<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/bower/angular-loading-bar/build/loading-bar.min.js"></script>

		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/javascripts/headroom.min.js"></script>

		<script src="/javascripts/blog.js"></script>
		<script src="/javascripts/ngApp.js"></script>

		<!--[if lt IE 9]>
		<script src="/javascripts/html5shiv.min.js"></script>
		<script src="/javascripts/respond.min.js"></script>
		<![endif]-->

		<script>
        var header = new Headroom(document.getElementById("header-area"), {
            tolerance: 10,
            offset : 80,
            classes: {
                initial: "animated",
                pinned: "slideDown",
                unpinned: "slideUp"
            }
        });
        header.init();
		</script>

	</body>
</html>