			<div id="article-area" class="bg-white animated slideInDown">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="row">

								<article class="col-sm-12 article-content">
									<div class="page-header mb-50">
										<h3><strong ng-bind="article.mainTitle">标题</strong></h3>
										<small ng-bind="article.createTimeText"></small>
									</div>
									<div class="article-item" ng-bind-html="article.content|trustHtml"></div>
								</article>

							</div>
						</div>
					</div>
				</div>
			</div>

