			<div id="post-list-area" class="animated zoomIn"><!--slideInDown-->
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="row">
								<!-- 加载文章列表 start -->
								<article class="col-sm-12 item-list bg-white" ng-repeat="article in articles">
									<span class="item-tag">java</span>
									<div class="post-item">
										<img alt="" src="" class="post-item-img">
										<div class="post-item-content">
											<h3>{{article.mainTitle}}</h3>
											<small>{{article.subTitle}}</small>
										</div>
										<div class="post-item-footer">
											<a class="read-more" ui-sref="article({id:article.simpleId, date:article.simpleDate})">READ MORE <i class="fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</article>
								<!-- 加载文章列表 end -->
							</div>
							<div class="row pager-group">
								<nav aria-label="...">
									<ul class="pager">
										<li ng-class="preBtn"><a ng-click="pagesubmit(pageinfo.preStart)">&larr;</a></li>
										<li ng-class="nextBtn"><a ng-click="pagesubmit(pageinfo.nextStart)">&rarr;</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

